name: Fuzz Tests
on: [push]

permissions:
  contents: read

concurrency:
  group: test-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: false

jobs:
  fuzz:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
      with:
        egress-policy: audit

    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Install Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: go.mod

    - name: All Fuzz Tests
      working-directory: .
      run: |
        files=$(grep -r --include='**_test.go' --files-with-matches 'func Fuzz' .)
        for file in ${files}
        do
            funcs=$(grep -oP 'func \K(Fuzz\w*)' $file)
            for func in ${funcs}
            do
                echo "Fuzzing $func in $file"
                parentDir=$(dirname $file)
                go test $parentDir -run=$func -fuzz=$func -fuzztime=5s
            done
        done
